In [20]:
import pandas as pd 
pd.set_option('display.float_format', '{:.2f}'.format) # Переводим экспоненциальную запись числа в обычную

## Задание 1
- Скачать данные
- Считать данные с помощью pandas
- Вывести на экран первые 5 строк
- Посмотреть на описание признаков и на их содержание

In [35]:
df = pd.read_csv('./kc-house-data.csv', encoding="ISO-8859-1")
df.head(5)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.00,3,1.00,1180,5650,1.00,0,0,...,7,1180,0,1955,0,98178,47.51,-122.26,1340,5650
1,6414100192,20141209T000000,538000.00,3,2.25,2570,7242,2.00,0,0,...,7,2170,400,1951,1991,98125,47.72,-122.32,1690,7639
2,5631500400,20150225T000000,180000.00,2,1.00,770,10000,1.00,0,0,...,6,770,0,1933,0,98028,47.74,-122.23,2720,8062
3,2487200875,20141209T000000,604000.00,4,3.00,1960,5000,1.00,0,0,...,7,1050,910,1965,0,98136,47.52,-122.39,1360,5000
4,1954400510,20150218T000000,510000.00,3,2.00,1680,8080,1.00,0,0,...,8,1680,0,1987,0,98074,47.62,-122.05,1800,7503

## Задание 2

Проведите первичный анализ данных
1. Изучите типы данных
2. Найдите количество пропущенных ячеек в данных
3. Посчитайте основные статистики по всем признакам и
поизучайте их
4. Пишите выводы

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB

1. Преимущественно целочисленные значения типа int64 (15 штук), так же float64 (5 штук) и object(1 столбец)
1. Нет пропущенных значений
1. и 4. Ниже выведены основные статистики, где можем увидеть средняя, мин и макс стоимость, кол-во спален, площадь жилая, общая, подвала. Год постройки, год ремонта. Почтовый адрес, координаты. Этажность, состояние, грэйд. Каждому дому присвоен id.

In [38]:
df.describe()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,21613.00,21613.00,21613.00,21613.00,21613.00,21613.00,21613.00,21613.00,21613.00,21613.00,21613.00,21613.00,21613.00,21613.00,21613.00,21613.00,21613.00,21613.00,21613.00,21613.00
mean,4580301520.86,540088.14,3.37,2.11,2079.90,15106.97,1.49,0.01,0.23,3.41,7.66,1788.39,291.51,1971.01,84.40,98077.94,47.56,-122.21,1986.55,12768.46
std,2876565571.31,367127.20,0.93,0.77,918.44,41420.51,0.54,0.09,0.77,0.65,1.18,828.09,442.58,29.37,401.68,53.51,0.14,0.14,685.39,27304.18
min,1000102.00,75000.00,0.00,0.00,290.00,520.00,1.00,0.00,0.00,1.00,1.00,290.00,0.00,1900.00,0.00,98001.00,47.16,-122.52,399.00,651.00
25%,2123049194.00,321950.00,3.00,1.75,1427.00,5040.00,1.00,0.00,0.00,3.00,7.00,1190.00,0.00,1951.00,0.00,98033.00,47.47,-122.33,1490.00,5100.00
50%,3904930410.00,450000.00,3.00,2.25,1910.00,7618.00,1.50,0.00,0.00,3.00,7.00,1560.00,0.00,1975.00,0.00,98065.00,47.57,-122.23,1840.00,7620.00
75%,7308900445.00,645000.00,4.00,2.50,2550.00,10688.00,2.00,0.00,0.00,4.00,8.00,2210.00,560.00,1997.00,0.00,98118.00,47.68,-122.12,2360.00,10083.00
max,9900000190.00,7700000.00,33.00,8.00,13540.00,1651359.00,3.50,1.00,4.00,5.00,13.00,9410.00,4820.00,2015.00,2015.00,98199.00,47.78,-121.31,6210.00,871200.00

## Задание 3

Ответьте на несколько вопросов
### 3.1 В каком диапазоне изменяются стоимости недвижимости?

In [121]:
print(f'Стоимость недвижимости варьируется от {df.price.min()} до {df.price.max()}')

Стоимость недвижимости варьируется от 75000.0 до 7700000.0

### 3.2 Какую долю в среднем занимают жилая площадь от всей площади по всем домам?

In [118]:
(df.sqft_living.mean()/df.sqft_lot.mean()).round(2)

0.14

### 3.3 Как много домов с разными этажами в данных?

In [54]:
df.floors.unique().shape[0]

6

### 3.4 Насколько хорошие состояния у домов в данных?

In [57]:
df.condition.mean()

3.4094295100171195

### 3.5 Найдите года, когда построили первый дом, когда построили последний дом в данных?

In [58]:
(df.yr_built.min(),df.yr_built.max())

(1900, 2015)

## Задание 4

Ответьте на несколько вопросов
### 4.1 Сколько в среднем стоят дома, у которых 2 спальни?

In [114]:
df[df.bedrooms == 2][['price']].mean()[0].round(2)

401372.68


### 4.2 Какая в среднем общая площадь домов, у которых стоимость больше 600 000?

In [113]:
df[df.price > 600000][['sqft_lot']].mean()[0].round(2)

20442.52


### 4.3 Как много домов коснулся ремонт?

In [70]:
df[df.yr_renovated != 0].count()[0]

914

### 4.4 Насколько в среднем стоимость домов с оценкой grade домов выше 10 отличается от стоимости домов с оценкой grade меньше 4?

In [124]:
(df[df.grade > 10][['price']].mean()[0] - df[df.grade < 4][['price']].mean()[0]).round(2)

1488885.12

## Задание 5
 
### 5.1 Выберите дом клиенту
Клиент хочет дом с видом на набережную, как минимум с тремя
ванными и с подвалом. Сколько вариантов есть у клиента?

In [90]:
df[(df.waterfront == 1) &
  (df.bedrooms >= 3) &
  (df.sqft_basement > 0)].shape[0]

84

### 5.2 Выберите дом клиенту
Клиент хочет дом либо с очень красивым видом из окна, либо с
видом на набережную, в очень хорошем состоянии и год
постройки не меньше 1980 года. В какой ценовом диапазоне
будут дома?

In [98]:
search1 = df[((df.view == max(df.view)) | (df.waterfront == 1)) &
  (df.condition == max(df.condition)) &
  (df.yr_built > 1980)]
(min(search1.price),max(search1.price))

(1295000.0, 3000000.0)

### 5.3 Выберите дом клиенту
Клиент хочет дом без подвала, с двумя этажами, стоимостью
до 150000. Какая оценка по состоянию у таких домов в
среднем?

In [110]:
df[(df.sqft_basement == 0) &
  (df.floors == 2) &
  (df.price < 150000)][['condition']].mean()[0].round(2)

2.83